node_modules
.DS_store

/packages/**/build
/packages/**/dist

/apps/**/build
/apps/**/public/build
/apps/**/server-build
.env

/apps/**/prisma/data.db
/apps/**/prisma/data.db-journal
/apps/**/tests/prisma

/apps/**/test-results/
/apps/**/playwright-report/
/apps/**/playwright/.cache/
/apps/**/tests/fixtures/email/
/apps/**/coverage

/apps/**/other/cache.db

# Easy way to create temporary files/folders that won't accidentally be added to git
*.local.*

.turbo